<form>
	<label>
		Party Name:
	</label>
	<input type="text" ng-model="partyAdd.party.name">
	<label>
		Description:
	</label>
	<input type="text" ng-model="partyAdd.party.description">
	<button ng-click="partyAdd.submit()">Add Party!</button>
</form>
